<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <title>Redirecting ...</title>
  <script>
    const style = localStorage.getItem('style') || 'light_mode';
    const css = style === 'dark_mode' ? '/static/styles/style2.css' : '/static/styles/style1.css';
    document.write(`<link rel="stylesheet" href="${css}">`);
  </script>
</head>
<body>
  <div class="card">
    <div class="message">
      You will redirect to login <span id="countdown">5</span> seconds...
    <footer>
      &copy; 2025 TheWindGhost
    </footer>
    </div>
  </div>
  {% if running %}
  <script>
    let countdown = 5;
    const countdownSpan = document.getElementById('countdown');

    const interval = setInterval(() => {
      countdown--;
      countdownSpan.textContent = countdown;
      if (countdown <= 0) {
        clearInterval(interval);
        running = '{{ running|safe }}';
        window.location.href = '/auth/login';
      }
    }, 1000);
    
  </script>
  {% endif %}

</body>
</html>
