<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <title>Registration Form</title>
</head>
<body>
  <div class="card">

    <header>
      <h1>Registration Form</h1>
      <p>Please fill in your details below.</p>
    </header>

    <main>

      <section class="profile">
        <div class="profile-info">
          <p>Welcome! Enter your registration details.</p>
        </div>

        <form id="info-form" method="POST" action="/auth/register">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required placeholder="Your username">

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required placeholder="Your password">

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required placeholder="Your email">

          <label for="first_name">First Name:</label>
          <input type="text" id="first_name" name="first_name" required placeholder="Your first name">

          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" required placeholder="Your last name">

          <label for="number_phone">Phone Number:</label>
          <input type="tel" id="number_phone" name="number_phone" required placeholder="Your phone number">

          <label for="website_company">Website:</label>
          <input type="url" id="website_company" name="website_company" placeholder="Your company website">

          <label for="birth_date">Birth Date:</label>
          <input type="date" id="birth_date" name="birth_date" required>

          <button type="submit">Register</button>
        </form>

        {% if error is defined %}
          <p class="error-message">Error: {{ error }}</p>
        {% endif %}
        {% if success is defined %}
          <p class="success-message">{{ success }}, <a href="/auth/login">Login here</a></p>
        {% endif %}
      </section>

    </main>
    <script>
      (function () {
        const style = localStorage.getItem('style') || 'light_mode';
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.onload = () => document.body.style.visibility = 'visible';
        link.href = style === 'dark_mode' ? '/static/style2.css' : '/static/styles.css';
        document.head.appendChild(link);
      })();
    </script>
    <!-- Footer -->
    <footer>
      &copy; 2025 TheWindGhost
    </footer>
  </div>
</body>
</html>
