<!DOCTYPE html>
<html lang="en">
<head>
    <title>Set New Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="card">
        <h1><span class="material-symbols-rounded">lock_reset</span>Set New Password</h1>
        <form method="POST">
            <label for="password">New Password:</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Reset Password</button>
            {% if Notification %}    
            <p>{{ Notification }}</p>
            {% elif Notification2 %}
            <p>{{ Notification2 }}<a href="/login">Login on Here</a></p>
            {% endif %}
        </form>
    </div>
    <script src="/static/script-js/load_style.js"></script>
    <!-- Footer -->
    <footer>
        &copy; 2025 TheWindGhost
    </footer>
</body>
</html>
