<!DOCTYPE html>
<html lang="en">
<head>
    <title>Control Panel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- Google Fonts & Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="card">
        {% if username %}
            <h1>Welcome Back {{ username }}!</h1>
        {% endif %}

        <ul class="menu">
            <li>
                <a href="/admin/profile">
                    <span class="material-icons">person</span> Profile
                </a>
            </li>
            <li>
                <a href="/admin/settings">
                    <span class="material-icons">settings</span> Settings
                </a>
            </li>
            <li>
                <a href="/admin/notifications">
                    <span class="material-icons">notifications</span> Update Notification
                </a>
            </li>
            <li>
                <a href="/admin/logs">
                    <span class="material-icons">list_alt</span> Logs
                </a>
            </li>
            <li>
                <a href="/auth/logout?running=True">
                    <span class="material-icons">logout</span> Logout
                </a>
            </li>
        </ul>
        <script src="/static/script-js/load_style.js"></script>
        <footer>
            &copy; 2025 TheWindGhost
        </footer>
    </div>
</body>
</html>
