<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <title>403 Forbidden</title>
</head>
<body>
  <div class="card">
    <h1>403 - Forbidden</h1>
    <p>You don't have permission to access this page.</p>
    <button onclick="goBack()">Go Back</button>
    <footer>
      &copy; 2025 TheWindGhost
    </footer>
  </div>

  <script src="/static/script-js/redirect_referer.js"></script>
  <script src="/static/script-js/load_style.js"></script>
</body>
</html>
